body, .jumbotron {
    background-color: #FED423;
}

.header, #question, #answers, #explanation, #gif {
    text-align: center;
    position: relative;
}

.withmargin {
    margin-top: 40px;
}

.container {
    font-family: 'Roboto', sans-serif;    
}

.header {
    font-family: 'Bungee Shade', cursive;
    font-size: 60px;   
}

#wrong:hover, #correct:hover {
    background-color: #337ab7;
    cursor: pointer;
}

#wrong, #correct {
    padding: 20px;
    font-size: 30px;
}

#question {
    font-size: 40px;
}

#startbutton {
    width: 40px;
}

#timer, #wins, #losses {
    text-align: center;
    font-size: 30px;
    width: 100%;
    border: 3px solid #2d2d2d;  
}

.jumbotron {
    margin-bottom: 0px;
    padding-top: 20px;
}

#explanation {
    padding: 20px;
    font-size: 30px;
}

.center {
    text-align: center;
}

.btn-primary {
    width: 340px;
    height: 100px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;    
}

#gifinsert {
    max-height: 400px;
    margin: 0 auto;
}